name: ci-cpu

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jobname: [JACC-serial, JACC-threads]

    steps:
      - name: Checkout Action
        uses: actions/checkout@v4

      - name: Instantiate
        run: julia --project -e 'using Pkg; Pkg.instantiate();'

      - name: Test Serial
        if: contains(matrix.jobname, '-serial')
        run: julia --project -e 'using Pkg; Pkg.test()'

      - name: Test Threads
        if: contains(matrix.jobname, '-threads')
        run: julia -t 4 --project -e 'using Pkg; Pkg.test()'

  macos:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        jobname: [JACC-serial, JACC-threads]

    steps:
      - name: Checkout Action
        uses: actions/checkout@v4

      - name: Instantiate
        run: julia --project -e 'using Pkg; Pkg.instantiate();'

      - name: Test Serial
        if: contains(matrix.jobname, '-serial')
        run: julia --project -e 'using Pkg; Pkg.test()'

      - name: Test Threads
        if: contains(matrix.jobname, '-threads')
        run: julia -t 3 --project -e 'using Pkg; Pkg.test()'
